@model BillModel
@{
    ViewData["Title"] = "Home Page";
    int i = 1;
}

<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <form method="post" enctype="multipart/form-data">
                    <div class="form-group" style="margin-top:20px">
                        <select name="AccountCategory">
                            <option value="1" selected>Income</option>
                            <option value="2">Expenses</option>
                        </select>
                        <input type="file" class="custom-file-input" name="BillFile">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <div class="form-group" style="margin-top:20px;margin-left: -190px;">
                        <select class="transactiontype" name="TransactionType">
                            <option value="1" selected>Business</option>
                            <option value="2">Personal</option>
                        </select>
                        <input type="text" placeholder="Image/Pdf url" name="BillUrl">
                    </div>
                </form>
            </div>
            <div class="col-sm-6">
                <h3>Result Table</h3></>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Amount</th>
                            <th scope="col">Invoice Date</th>
                            <th scope="col">Account Category</th>
                            <th scope="col">Transaction Type</th>
                            <th scope="col">GST</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">@Model?.Amount</th>
                            <td>@Model?.Date</td>
                            <td>@(Model?.AccountCategory == 1 ? "Income" : "Expenses")</td>
                            <td>@(Model?.TransactionType == 1 ? "Business" : "Personal")</td>
                            <td>@(Model?.GST != null && Model.GST == true ? "YES" : "NO")</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6" style="margin-top:20px">
                @if (Model != null && !string.IsNullOrWhiteSpace(Model.BillUrl) && !Model.BillUrl.ToLower().EndsWith(".pdf"))
                {
                    <img src="@Model.BillUrl" width="630px" height="700px" alt="Italian Trulli">
                }
            </div>
            @if (Model != null && Model.RawData != null && Model.RawData.Any())
            {
                <div class="col-sm-6">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Key</th>
                                <th scope="col">Value</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.RawData)
                            {
                                if (item.Key.ToLower() != "items")
                                {
                                    <tr>
                                        <th scope="row">@i</th>
                                        <td>@item.Key</td>
                                        <td>@item.Value</td>

                                    </tr>
                                    i++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>


</div>
